:root{
    --table-head-bg:-webkit-gradient(linear, 0 100%, 0 0, from(#e2dbfb30), to(#dcf6ffbf));
    --table-head-border-left:1px ridge rgba(0,123,255,0.4);
    --table-head-border-top:1px ridge rgba(0,123,255,0.4);
    --table-head-border-bottom:1px ridge rgba(0,123,255,0.4);
    --table-head-border-right:1px ridge rgba(0,123,255,0.4);
    --table-last-head-border-right:1px ridge rgba(0,123,255,0.4);
    --tbody-bottom-border: 1px solid rgba(0,123,255,0.4);
    --table-head-padding: 0px 5px;
    --table-head-font-size: 12px;
    --table-head-font-weight: 600;
    --table-head-font-color: #222;
    --table-head-text-align: left;
    --table-head-letter-spacing: 0.5px;
    --table-body-td-first-column-cell-border-left:1px ridge rgba(0,123,255,0.4);
    --table-body-td-first-column-cell-border-top:1px ridge #fff;
    --table-body-td-first-column-cell-border-right:1px ridge rgba(0,123,255,0.4);
    --table-body-td-first-column-cell-border-bottom:1px ridge #fff;
    --table-body-td-middle-column-cell-border-left:1px ridge #fff;
    --table-body-td-middle-column-cell-border-top:1px ridge #fff;
    --table-body-td-middle-column-cell-border-right:1px ridge rgba(0,123,255,0.4);
    --table-body-td-middle-column-cell-border-bottom:1px ridge #fff;
    --table-body-td-last-column-cell-border-left:1px ridge #fff;
    --table-body-td-last-column-cell-border-top:1px ridge #fff;
    --table-body-td-last-column-cell-border-right:1px ridge rgba(0,123,255,0.4);
    --table-body-td-last-column-cell-border-bottom:1px ridge #fff;
    --table-body-td-backgorund:white;
    --table-body-td-letter-spacing:0.3px;
    --table-row-cursor: alias;
    --table-row-hover-bg: rgb(187, 233, 248);
    --table-row-nth-td-hover-bg: none;
    --table-row-hover-color: #111;
    --table-resposive-border: 1px ridge rgba(0,123,255,0.3);
    --table-td-click-bg:-webkit-gradient(linear, 0 100%, 0 0, from(#e2dbfb30), to(#dcf6ffbf));
    --table-td-even-background:none;
    --table-td-odd-background:none;
}