/* ============================================== */
/* ========= Start Table Design ================= */
/* ============================================== */
.img-hover {
    transition: transform 0.2s ease;
    cursor: zoom-in;
}
.img-hover:hover {
    transform: scale(2.5);
    z-index: 9999;
    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}
.label-svg {
    cursor: pointer;
}
.table-wrapper {
    padding: 20px 20px;
}
.table-heading {
    font-size: 15px;
    color: #413571;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 12px;
}
.table-bottom-border{
    border-bottom: var(--table-warper-bottom-border);
}
.table-responsive{
    overflow-y: auto !important;
    overflow-x: auto !important;
    max-height: 400px;
    border: var(--table-resposive-border);
    border-radius: 5px;
}
.table{
    width: 100%;
    table-layout: fixed;  /* if table-layout auto then will not work text-overflow: ellipsis; 
    but when table-layout fixed then ellipsis will be work text-ellipsis like word simple like wor...*/
    font-size: 13px;
    margin-bottom: 0;
    min-width: max-content;
    /* border-collapse: separate; */
}
.table-body{
    background-color: transparent;
    position: relative;
}
.body-bottom-line{
    border-bottom: var(--tbody-bottom-border);
}
tr.table-row:hover{
    background: var(--table-td-click-bg);
    color: var(--table-row-hover-color);
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
tr.clicked td{
    background: var(--table-td-click-bg);
    opacity: 1;
}
th,td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle; 
    font-weight: 600;
    position: relative;
}
tbody tr:nth-child(even) td {
    background-color: var(--table-td-even-background);
}
tbody tr:nth-child(odd) td{
    background-color: var(--table-td-odd-background);
}
tbody tr:hover td {
    background-color: var(--table-row-nth-td-hover-bg);
}
.table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    white-space: nowrap !important;
}
.col-resizer {
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    cursor: col-resize;
    position: absolute;
    z-index: 1;
}
.row-resizer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    cursor: row-resize;
    position: absolute;
    z-index: 1;
}
.col-resizing {
    border: 1px dashed #007bff !important;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    cursor: col-resize;
}
.row-resizing {
    border: 1px dashed #007bff !important;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    cursor: row-resize;
}
td.row-resizing,
th.row-resizing {
    border-top: 1px dashed #007bff !important;
    border-bottom: 1px dashed #007bff !important;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    cursor: row-resize;
}
th.dragging {
    opacity: 0.6;
    background-color: #cce5ff;
}
th.th-head{
    font-size: var(--table-head-font-color);
    font-weight: var(--table-head-font-weight);
    text-align: var(--table-head-text-align);
    color: var(--table-head-font-color);
    letter-spacing: var(--table-head-letter-spacing);
    padding: var(--table-head-padding);
    border-left: var(--table-head-border-left);
    border-top: var(--table-head-border-top);
    border-right: var(--table-head-border-right);
    border-bottom: var(--table-head-border-bottom);
    background-image: var(--table-head-bg);
    text-shadow: none;
    opacity: 1;
}
th.last-head-border{
    font-size: var(--table-head-font-color);
    font-weight: var(--table-head-font-weight);
    text-align: var(--table-head-text-align);
    color: var(--table-head-font-color);
    letter-spacing: var(--table-head-letter-spacing);
    padding: var(--table-head-padding);
    border-left: var(--table-head-border-left);
    border-top: var(--table-head-border-top);
    border-right: var(--table-last-head-border-right); 
    border-bottom: var(--table-head-border-bottom);
    background-image: var(--table-head-bg);
    text-shadow: none;
    opacity: 1;
}
td.td-cell-first{
    padding: var(--table-head-padding);
    border-left: var(--table-body-td-first-column-cell-border-left);
    border-right: var(--table-body-td-first-column-cell-border-right);
    border-top: var(--table-body-td-first-column-cell-border-top);
    border-bottom: var(--table-body-td-first-column-cell-border-bottom);
    background-color: var(--table-body-td-backgorund);
}
td.td-cell-middle {
    padding: var(--table-head-padding);
    border-left: var(--table-body-td-middle-column-cell-border-left);
    border-right: var(--table-body-td-middle-column-cell-border-right);
    border-top: var(--table-body-td-middle-column-cell-border-top);
    border-bottom: var(--table-body-td-middle-column-cell-border-bottom);
    background-color: var(--table-body-td-backgorund);
    letter-spacing: var(--table-body-td-letter-spacing);
}
td.td-cell-last {
    padding: var(--table-head-padding);
    border-left: var(--table-body-td-last-column-cell-border-left);
    border-right: var(--table-body-td-last-column-cell-border-right);
    border-top: var(--table-body-td-last-column-cell-border-top);
    border-bottom: var(--table-body-td-last-column-cell-border-bottom);
    background-color: var(--table-body-td-backgorund);
    letter-spacing: var(--table-body-td-letter-spacing);
}
.clicked td{
    background-color: lightblue;
}
label.item_class {
    color: #333;
    font-weight: 600;
    margin-top: 2px;
    font-size: 13px;
}
.custom-select {
    position: relative;
}
select#perItemControl {
    outline: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(5deg, gray, transparent 3%, lightgray, silver);
    border-radius: 3px;
    width: 50px;
    font-size: 13px;
    border: 1px ridge #87cefabd;
}
label.per_item_class {
    padding-top: 29px;
    font-size: 12px;
    font-weight: 700;
}
a.page-link.btn_page {
    cursor: pointer;
}
li.page-item.active {
    border-bottom: 1px solid #dee2e6;
}
.page-link.active, .datatable-pagination a.active, .active > .page-link, .datatable-pagination .active > a {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-image: var(--bs-pagination-active-bg);
    border: 1px solid #dee2e6;
    height: 26px;
}
.page-item:last-child .page-link, .page-item:last-child .datatable-pagination a, .datatable-pagination .page-item:last-child a, 
.datatable-pagination li:last-child .page-link, .datatable-pagination li:last-child a {
    background: linear-gradient(5deg, #b3b0b0, transparent 3%, lightgray, #c3c1c1c9);
    color: black;
    font-size: 10px;
    font-weight: 800;
    opacity: 1;
    background-color: transparent;
}
.page-item:first-child .page-link, .page-item:first-child .datatable-pagination a, .datatable-pagination .page-item:first-child a, 
.datatable-pagination li:first-child .page-link, .datatable-pagination li:first-child a {
    background: linear-gradient(5deg, #b3b0b0, transparent 3%, lightgray, #c3c1c1c9);
    color: black;
    font-size: 10px;
    font-weight: 800;
    opacity: 1;
    background-color: transparent;
}

li.page-item:active.page-link.btn_page{
    background:#333;
    color: white;
    border: 1px solid white;
    font-size: 10px;
}
a.page-link.btn_page:hover{
    background-image: linear-gradient(to bottom, lightblue 0%, lightblue 100%);
    border: 1px solid #dee2e6;
    color: #111;
}
.pagination, .datatable-pagination ul {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 0.6rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #111;
    --bs-pagination-active-bg: linear-gradient(to bottom, lightblue 0%, lightblue 100%);
    --bs-pagination-active-border-color: lightseagreen;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
    font-weight: 800;
    line-height: 1.3;
}
.table-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: all;
}
.table-cell-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: all;
}
span.loader-text{
    color: #fff;
    font-weight: bolder;
    text-shadow: 0px 0px 1px black;
    box-shadow: 0px 0px 2px #0001;
    animation: focusColor 1s infinite;
}
span.cell-loader-text{
    animation: focusColor 1s infinite;
}
@keyframes focusColor{
    0%{
        color: dodgerblue;
    }
    50%{
        color: darkcyan;
    }
    100%{
        color: blue;
        transition: opacity 0.2s ease color 0.2s ease-in-out;
    }
}
.display_none{
    display: none;
}
.data-table-loader {
    animation: spin 1s linear infinite;
    transform-origin: center center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.dot {
    display: inline-block;
    animation: dotMove 1.4s infinite;
    opacity: 0;
}
.dot-1 { animation-delay: 0s; }
.dot-2 { animation-delay: 0.2s; }
.dot-3 { animation-delay: 0.4s; }
.dot-4 { animation-delay: 0.5s; }
@keyframes dotMove {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    30% {
      opacity: 1;
      transform: translateX(2px);
    }
    60% {
      opacity: 1;
      transform: translateX(4px);
    }
    100% {
      opacity: 0;
      transform: translateX(6px);
    }
}
/* ============================================== */
/* ========= End Table Design ================= */
/* ============================================== */